*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 90% !important;
}

body{
  display: grid;
  place-items: center;
  font-family: "Great Vibes", cursive;
  font-style: normal;
  resize: none;
  background-color: #e5e7eb;
  background-image: url("../imagenes/0001.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position: top;
  background-size: 100%;
}

.photo-section{
    width: 100%;
    /* min-height: 85vh;
    line-height: 3em; */
    display: flex;
    align-items: center;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(248, 246, 247, 0.5);
  }

.counter-container{
  width: 100%;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #E2DBD2;
  }

.ceremonia {
  width: 100%;
  background-color: #e5e7eb;
  line-height: 2em;
  }

.photo-album {
  width: 100%;
  background-color: #e5e7eb;
  line-height: 2em;
  align-items: center;
  place-items: center;
  }

.regalos {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
  background-color: #E2DBD2;
}

.despedida {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;
  background-color: #e5e7eb;
}

.image-gallery {
  width: 40%;
  height: auto;
  border: 5px solid #fff;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
  margin: auto;
  display: block;
  align-items: center;
}

.image-gallery:hover {
border: 5px solid #f2c97c;
}

.vectors {
  width: 50%;
  margin: auto;
  display: flex;
}

.iconos {
  width: 2.5em;
  margin: auto;
  display: flex;
}

@media (max-width: 900px){

  .vectors {
    width: 80%;
  }

  .countdown div{
  display: block;
  }

  .button-83, .button-83:active, .button-83:focus {
  width: 70% !important;
  display: block;
  }

  .countdown{
    width: 95% !important;
  }

  .image-gallery {
    width: 70%;
}

}

.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    place-items: center;
    place-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}

h1{
    text-align: center;
    color: #9B5521;
    font-size: 40px;
    padding: 30px 10px;
}

.title-text {
  text-align: center;
  color: #9B5521;
  font-size: 40px;
  line-height: 1.5em;
}

.normal-text {
  text-align: center;
  color: #9B5521;
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.5em;
}

p{
    display: grid;
    place-items: center;
    border: solid 1px #9B5521;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    color: #9B5521;
    font-family: "Asul", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    background-color: #f2c97c;
}
span {
    display: block;
    padding: 10px;
    text-align: center;
    color: #9B5521;
    font-size: 1.5rem;
    font-weight: 400;
}
.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #F8F6F7;
}
.final-sms h2{
    text-align: center;
    font-size: 100px;
    color: #fff;
}

/* (PART A) SPLASH SCREEN */
#splash {
    /* (A1) FULLSCREEN */
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 999;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Great Vibes", cursive;
    font-size: 3em;
    color: #9B5521; 
    background: #E2DBD2;
  }
  
  /* (A4) TO HIDE THE SPLASH SCREEN */
  #splash.hide {
    opacity: 0; visibility: hidden;
    transition: all 1s;
  }

/* Boton CSS */

a {
  text-decoration: none;
}

.button-83 {
  appearance: button;
  width: 30%;
  justify-content: center;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #9B5521;
  column-gap: 1rem;
  cursor: pointer;
  font-family: "Asul", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
  line-height: 24px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.button-83:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.button-83:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

.active {
  background-color: #717171;
}

.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #f2c97c;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #E2DBD2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
