*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  place-items: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url("../imagenes/0001.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.photo-section{
    width: 100%;
    min-height: 90vh;
    line-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(248, 246, 247, 0.3);
}

.counter-container{
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F8F6F7;
}

.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}
h1{
    text-align: center;
    color: #9B5521;
    font-size: 40px;
    padding: 30px 10px;
}
p{
    display: grid;
    place-items: center;
    border: solid 1px #9B5521;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    color: #9B5521;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    background-color: #f2c97c;
}
span{
    display: block;
    padding: 10px;
    text-align: center;
    color: #9B5521;
    font-size: 1.5rem;
    font-weight: 400;
}
.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #F8F6F7;
}
.final-sms h2{
    text-align: center;
    font-size: 100px;
    color: #fff;
}
